import { Injectable } from '@nestjs/common'
import { ObjectId } from 'mongodb'
import { PagingQuery } from '../../models/dto/pagination'
import { DocName } from '../../models/entities/shared/doc-name'
import { {{pascalCase singular}}, {{pascalCase singular}}Dto } from '../../models/entities/{{kebabCase singular}}'
import { CommonQueryService } from '../../services/common-query.service'

@Injectable()
export class {{pascalCase plural}}Service {
  constructor(private commonQueryService: CommonQueryService) {}

  async query{{pascalCase plural}}(url: string, paging: PagingQuery) {
    const conditions = {}
    const {{camelCase plural}} = await this.commonQueryService.findWithPaging<{{pascalCase singular}}>(
      DocName.{{pascalCase plural}},
      conditions,
      url,
      paging,
    )
    return {{camelCase plural}}
  }

  async get{{pascalCase singular}}(_id: ObjectId) {
    const conditions = {
      _id,
    }
    const {{camelCase singular}} = await this.commonQueryService.findOneById<{{pascalCase singular}}>(
      DocName.{{pascalCase plural}},
      conditions,
    )
    return {{camelCase singular}}
  }

  async create{{pascalCase singular}}({{camelCase singular}}: {{pascalCase singular}}Dto) {
    const now = new Date()
    const { insertedId } = await this.commonQueryService.insertOne(
      now,
      DocName.{{pascalCase plural}},
      {{camelCase singular}},
    )
    return insertedId
  }

  async modify{{pascalCase singular}}(_id: ObjectId, {{camelCase singular}}: {{pascalCase singular}}Dto) {
    const now = new Date()
    const conditions = {
      _id,
    }
    const update = {
      $set: {
        ...{{camelCase singular}},
      }
    }
    const { matchedCount } = await this.commonQueryService.updateOneById(
      now,
      DocName.{{pascalCase plural}},
      conditions,
      update,
    )
    return matchedCount
  }

  async remove{{pascalCase singular}}(_id: ObjectId) {
    const conditions = {
      _id,
    }
    const { deletedCount } = await this.commonQueryService.deleteOneById(
      DocName.{{pascalCase plural}},
      conditions,
    )
    return deletedCount
  }
}
