import { Module } from '@nestjs/common'
import { DatabaseModule } from '../../services/database.module'
import { {{pascalCase plural}}Controller } from './{{kebabCase plural}}.controller'
import { {{pascalCase plural}}Service } from './{{kebabCase plural}}.service'

@Module({
  imports: [DatabaseModule],
  controllers: [{{pascalCase plural}}Controller],
  providers: [{{pascalCase plural}}Service],
})
export class {{pascalCase plural}}Module {}
