import {
  Body,
  Controller,
  Delete,
  Get,
  NotFoundException,
  Param,
  Post,
  Put,
  Query,
  Req,
} from '@nestjs/common'
import { ApiBody } from '@nestjs/swagger'
import { Request } from 'express'
import { ObjectId } from 'mongodb'
import { isNullOrUndefined } from '../../helpers/util.helper'
import { PagingQuery } from '../../models/dto/pagination'
import { {{pascalCase singular}}, {{pascalCase singular}}Dto, {{pascalCase singular}}Schema } from '../../models/entities/{{kebabCase singular}}'
import { ZodIdPipe } from '../../pipes/zod-id.pipe'
import { ZodPipe } from '../../pipes/zod.pipe'
import { PagingSchema } from '../../schema/base.schema'
import { {{pascalCase plural}}Service } from './{{kebabCase plural}}.service'

@Controller('{{camelCase plural}}')
export class {{pascalCase plural}}Controller {
  constructor(private {{camelCase plural}}Service: {{pascalCase plural}}Service) {}

  @Get()
  async query{{pascalCase plural}}(
    @Req() req: Request,
    @Query(new ZodPipe(PagingSchema())) query: PagingQuery,
  ) {
    const result = await this.{{camelCase plural}}Service.query{{pascalCase plural}}(req.url, query)
    return result
  }

  @Get(':id')
  async get{{pascalCase singular}}(@Param('id', new ZodIdPipe()) id: ObjectId) {
    const {{camelCase singular}} = await this.{{camelCase plural}}Service.get{{pascalCase singular}}(id)
    if (isNullOrUndefined({{camelCase singular}})) {
      throw new NotFoundException('{{pascalCase singular}} not found')
    }
    return { data: {{camelCase singular}} }
  }

  @Post()
  @ApiBody({ type: {{pascalCase singular}} })
  async create{{pascalCase singular}}(@Body(new ZodPipe({{pascalCase singular}}Schema())) body: {{pascalCase singular}}Dto) {
    await this.{{camelCase plural}}Service.create{{pascalCase singular}}(body)
  }

  @Put()
  @ApiBody({ type: {{pascalCase singular}} })
  async modify{{pascalCase singular}}(
    @Body('_id', new ZodIdPipe()) _id: ObjectId,
    @Body(new ZodPipe({{pascalCase singular}}Schema())) body: {{pascalCase singular}}Dto,
  ) {
    const matchedCount = await this.{{camelCase plural}}Service.modify{{pascalCase singular}}(_id, body)
    if (matchedCount === 0) {
      throw new NotFoundException('{{pascalCase singular}} not found')
    }
  }

  @Delete(':id')
  async remove{{pascalCase singular}}(@Param('id', new ZodIdPipe()) id: ObjectId) {
    const deletedCount = await this.{{camelCase plural}}Service.remove{{pascalCase singular}}(id)
    if (deletedCount === 0) {
      throw new NotFoundException('{{pascalCase singular}} not found')
    }
  }
}
