import { ApiProperty } from '@nestjs/swagger'
import { ObjectId } from 'mongodb'
import {
  Infer,
  RequiredObjectSchema,
  {{getSchemaImport entity.fields}}
} from '../../schema/base.schema'

/**
 * {{entity.label}}
 */
export class {{pascalCase singular}} {
{{#each entity.fields}}
  /**
   * {{label}}
  {{#if description}}
   * @description {{description}}
  {{/if}}
  {{#if example}}
   * @example {{example}}
  {{/if}}
  {{#if see}}
   * @see {{see}}
  {{/if}}
   */
  @ApiProperty({
    description: '{{#if label}}{{label}}{{/if}} {{#if description}}{{description}}{{/if}}',
    type: {{type}},
    required: {{required}},
    {{#if example}}example: '{{example}}',{{/if}}
  })
  {{name}}{{ternary required '!' '?'}}: {{type}}
{{/each}}
}

export const {{pascalCase singular}}Schema = () =>
  RequiredObjectSchema({
{{#each entity.fields}}
{{#if (ne name '_id')}}
    {{name}}: {{ternary required 'Required' 'Nullable'}}{{type}}Schema(),
{{/if}}
{{/each}}
  })

export type {{pascalCase singular}}Dto = Infer<ReturnType<typeof {{pascalCase singular}}Schema>> | {{pascalCase singular}}
